<div class="list-group list-group-flush">






 
        <a href="{% url 'labcov19run' %}" class="list-group-item
        {% if covid %} active {% endif %} waves-effect">
        <i class="fa fa-pie-chart mr-3" aria-hidden="true"></i>LAB COVID 19</a>



    <a href="{% url 'labeidrun' %}" class="list-group-item 
        {% if eid %} active {% endif %} waves-effect">
        <i class="fa fa-pie-chart mr-3" aria-hidden="true"></i> LAB eid</a> 





    <a href="labvlrun" class="list-group-item 
        {% if vl %} active {% endif %} waves-effect">
        <i class="fa fa-pie-chart mr-3" aria-hidden="true"></i>     
             LAB VL </a>





</div>
