<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
  <title>General</title>
 <link href="bitnami.css" media="all" rel="Stylesheet" type="text/css" /> 
  <link href="/dashboard/stylesheets/all.css" rel="stylesheet" type="text/css" />
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
  <link rel="stylesheet" href="../stylesheet/custom.css">
</head>
<body>
	<h1 align="center">General Info</h1>
	<label> Please choose a Laboratory: </label>
<select id="">
  <option>NMRL</option>
  <option>NTBRL</option>
  <option>Mutare</option>
  <option>Wilkins</option>
  <option>BRIDH</option>
  <option>Gweru</option>
  <option>Chinhoyi</option>
  <option>Masvingo </option>
  <option>Beitbridge</option>
  <option>Victoria Falls</option>
  <option>Bindura</option>
  <option>Kadoma</option>
  <option>Marondera</option>
  <option>St Lukes</option>
  <option>Gwanda</option>
  <option>Total</option>
</select>
<p></p>
<p></p>
<br><br>

	<table class="table table-striped table-dark table-sm">
    <tr>
      <th>General comments regarding testing and challenges (interruption) faced by the laboratory</th>
      <td><textarea></textarea></td>
    </tr>
  </table>

<br><p></p>

  <table class="table table-striped table-dark table-sm">
    <tr>
      <th># of staff who tested positive to Covid 19 at VL lab</th>
      <td><input type="number" name=""></td>
    </tr>
    <tr>
      <th># of staff who have been vaccinated</th>
      <td><input type="number" name=""></td>
    </tr>
    <tr>
      <th>Comment (Please specify the occupation of the person  who has tested postive.Riders are also included )</th>
      <td><textarea></textarea></td>
    </tr>
  </table>
    <br><p></p>

    <table class="table table-striped table-dark table-sm">
    <tr>
      <th>Request to BRTI from the Laboratory</th>
      <td><textarea></textarea></td>
    </tr>
</table>
<br><br>
</body>