{% extends 'base.html' %}
{% load crispy_forms_tags %}
 {% load humanize %}
{% block title %} Specimens Run | Meal {% endblock title %}

<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
  <title>Specimens Run</title>
  <link href="bitnami.css" media="all" rel="Stylesheet" type="text/css" /> 
  <link href="/dashboard/stylesheets/all.css" rel="stylesheet" type="text/css" />
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
  <link rel="stylesheet" href="../stylesheet/custom.css">
</head>

{% block content %}

<body>
  
  {% include "header5.html"%}

  <p></p>
  <br>
  <p></p>
  <form action="" method="post" onsubmit="return alert('suck seed')">
    {% csrf_token %}

	<h1 align="center">Specimens Run</h1>
	<label> Please choose a date: </label>
<select id="">
  <option value="Monday">Monday</option>
  <option value="Tuesday">Tuesday</option>
  <option value="Wednesday">Wednesday</option>
  <option value="Thursday">Thursday</option>
  <option value="Friday">Friday</option>
  <option value="Saturday">Saturday</option>
  <option value="Sunday">Sunday</option>
  <option value="Sunday">Total</option>
</select>
<p></p>
<p></p>
<br><br>
	<table class="table table-striped table-dark table-sm">

  <tr>
    <td colspan="4"><b>Laboratory</b></td> 
  </tr>

  <tr>
  	<td rowspan="54"><b>Tests Done</b></td>
  	<td rowspan="12"><b>Roche</b></td>
  	<td rowspan="6"><b>Plasma</b></td>
    <th>{{form.tests_done_roche_number_of_samples_received_this_week_plasma | as_crispy_field}}</th>
  </tr>

  <tr>
    <th>{{form.tests_done_roche_number_of_samples_carried_over_previous_weeks_plasma | as_crispy_field}}</th>
  </tr>

  <tr>
    <th>{{form.tests_done_roche_failed_but_eligibale_for_repeat_plasma | as_crispy_field}}</th>
  </tr>

  <tr>
    <th>{{form.tests_done_roche_failed_but_not_eligibale_for_repeat_plasma | as_crispy_field}}</th>
  </tr>

  <tr>
    <th>{{form.tests_done_roche_repeat_plasma | as_crispy_field}}</th>
  </tr>

  <tr>
    <th>{{form.tests_done_roche_failed_after_repeat_testing_plasma | as_crispy_field}}</th>
  </tr>

  <tr>
    <td rowspan="6"><b>DBS<b></td>
    <th>{{form.tests_done_roche_number_of_samples_received_this_week_dbs | as_crispy_field}}</th>
  </tr>

  <tr>
    <th>{{form.tests_done_roche_number_of_samples_carried_over_previous_weeks_dbs | as_crispy_field}}</th>
  </tr>

  <tr>
    <th>{{form.tests_done_roche_failed_but_eligibale_for_repeat_dbs | as_crispy_field}}</th>
  </tr>

  <tr>
    <th>{{form.tests_done_roche_failed_but_not_eligibale_for_repeat_dbs | as_crispy_field}}</th>
  </tr>

  <tr>
    <th>{{form.tests_done_roche_repeat_dbs | as_crispy_field}}</th>
  </tr>

  <tr>
    <th>{{form.tests_done_roche_failed_after_repeat_testing_dbs | as_crispy_field}}</th>
  </tr>

  <tr>
    <td rowspan="14"><b>BMX</b></td>
  </tr>
  <tr>
    <td rowspan="7"><b>Plasma</b></td>
  </tr>

  <tr>
    <th>{{form.tests_done_bmx_number_of_samples_received_this_week_plasma | as_crispy_field}}</th>
  </tr>

  <tr>
    <th>{{form.tests_done_bmx_number_of_samples_carried_over_previous_weeks_plasma | as_crispy_field}}</th>
  </tr>

  <tr>
    <th>{{form.tests_done_bmx_failed_but_eligibale_for_repeat_plasma | as_crispy_field}}</th>
  </tr>

  <tr>
    <th>{{form.tests_done_bmx_failed_but_not_eligibale_for_repeat_plasma | as_crispy_field}}</th>
  </tr>

  <tr>
    <th>{{form.tests_done_bmx_repeat_plasma | as_crispy_field}}</th>
  </tr>

  <tr>
    <th>{{form.tests_done_bmx_failed_after_repeat_testing_plasma | as_crispy_field}}</th>
  </tr>
  
  <tr>
    <td rowspan="6"><b>DBS<b></td>
    <th>{{form.tests_done_bmx_number_of_samples_received_this_week_dbs | as_crispy_field}}</th>
  </tr>

  <tr>
    <th>{{form.tests_done_bmx_number_of_samples_carried_over_previous_weeks_dbs | as_crispy_field}}</th>
  </tr>

  <tr>
    <th>{{form.tests_done_bmx_failed_but_eligibale_for_repeat_dbs | as_crispy_field}}</th>
  </tr>

  <tr>
    <th>{{form.tests_done_bmx_failed_but_not_eligibale_for_repeat_dbs | as_crispy_field}}</th>
  </tr>

  <tr>
    <th>{{form.tests_done_bmx_repeat_dbs | as_crispy_field}}</th>
  </tr>

  <tr>
    <th>{{form.tests_done_bmx_failed_after_repeat_testing_dbs | as_crispy_field}}</th>
  </tr>

  <tr>
    <td rowspan="14"><b>Abbott</b></td>
  </tr>
  <tr>
    <td rowspan="7"><b>Plasma</b></td>
  </tr>

  <tr>
    <th>{{form.tests_done_abbott_number_of_samples_received_this_week_plasma | as_crispy_field}}</th>
  </tr>

  <tr>
    <th>{{form.tests_done_abbott_number_of_samples_carried_over_previous_weeks_plasma | as_crispy_field}}</th>
  </tr>

  <tr>
    <th>{{form.tests_done_abbott_failed_but_eligibale_for_repeat_plasma | as_crispy_field}}</th>
  </tr>

  <tr>
    <th>{{form.tests_done_abbott_failed_but_not_eligibale_for_repeat_plasma | as_crispy_field}}</th>
  </tr>

  <tr>
    <th>{{form.tests_done_abbott_repeat_plasma | as_crispy_field}}</th>
  </tr>

  <tr>
    <th>{{form.tests_done_abbott_failed_after_repeat_testing_plasma | as_crispy_field}}</th>
  </tr>

  <tr>
    <td rowspan="6"><b>DBS<b></td>
    <th>{{form.tests_done_abbott_number_of_samples_received_this_week_dbs | as_crispy_field}}</th>
  </tr>

  <tr>
    <th>{{form.tests_done_abbott_number_of_samples_carried_over_previous_weeks_dbs | as_crispy_field}}</th>
  </tr>

  <tr>
    <th>{{form.tests_done_abbott_failed_but_eligibale_for_repeat_dbs | as_crispy_field}}</th>
  </tr>

  <tr>
    <th>{{form.tests_done_abbott_failed_but_not_eligibale_for_repeat_dbs | as_crispy_field}}</th>
  </tr>

  <tr>
    <th>{{form.tests_done_abbott_repeat_dbs | as_crispy_field}}</th>
  </tr>

  <tr>
    <th>{{form.tests_done_abbott_failed_after_repeat_testing_dbs | as_crispy_field}}</th>
  </tr>

  <tr>
    <td rowspan="14"><b>Hologic Panther</b></td>
  </tr>

  <tr>
    <td rowspan="7"><b>Plasma</b></td>
  </tr>

  <tr>
    <th>{{form.tests_done_hologic_panther_number_of_samples_received_this_week_plasma | as_crispy_field}}</th>
  </tr>

  <tr>
    <th>{{form.tests_done_hologic_panther_number_of_samples_carried_over_previous_weeks_plasma | as_crispy_field}}</th>
  </tr>

  <tr>
    <th>{{form.tests_done_hologic_panther_failed_but_eligibale_for_repeat_plasma | as_crispy_field}}</th>
  </tr>

  <tr>
    <th>{{form.tests_done_hologic_panther_failed_but_not_eligibale_for_repeat_plasma | as_crispy_field}}</th>
  </tr>

  <tr>
    <th>{{form.tests_done_hologic_panther_repeat_plasma | as_crispy_field}}</th>
  </tr>

  <tr>
    <th>{{form.tests_done_hologic_panther_failed_after_repeat_testing_plasma | as_crispy_field}}</th>
  </tr>

  <tr>
    <td rowspan="6"><b>DBS<b></td>
    <th>{{form.tests_done_hologic_panther_number_of_samples_received_this_week_dbs | as_crispy_field}}</th>
  </tr>

  <tr>
    <th>{{form.tests_done_hologic_panther_number_of_samples_carried_over_previous_weeks_dbs | as_crispy_field}}</th>
  </tr>

  <tr>
    <th>{{form.tests_done_hologic_panther_failed_but_eligibale_for_repeat_dbs | as_crispy_field}}</th>
  </tr>

  <tr>
    <th>{{form.tests_done_hologic_panther_failed_but_not_eligibale_for_repeat_dbs | as_crispy_field}}</th>
  </tr>

  <tr>
    <th>{{form.tests_done_hologic_panther_repeat_dbs | as_crispy_field}}</th>
  </tr>

  <tr>
    <th>{{form.tests_done_hologic_panther_failed_after_repeat_testing_dbs | as_crispy_field}}</th>
  </tr>

  <tr>
    <th colspan="4">{{form.total_tests_done | as_crispy_field}}</th>
  </tr>

  <tr>
    <th colspan="4">{{form.total_repeats | as_crispy_field}}</th>
  </tr>

  <tr>
    <th colspan="4">{{form.total_patients_run | as_crispy_field}}</th>
  </tr>

  <tr>
    <th colspan="4">{{form.targets_weekly | as_crispy_field}}</th>
  </tr>

  <tr>
    <th colspan="4">{{form.percentage_targets_achievements | as_crispy_field}}</th>
  </tr>

  <tr>
    <td rowspan="13" colspan="2"><b>%Error Rate</b></td>
  </tr>

  <tr>
    <td rowspan="3"><b>Roche</b></td>
  </tr>

  <tr>
    <th>{{form.percentage_error_rate_roche_plasma | as_crispy_field}}</th>
  </tr>

  <tr>
    <th>{{form.percentage_error_rate_roche_dbs | as_crispy_field}}</th>
  </tr>

  <tr>
    <td rowspan="3"><b>BMX</b></td>
  </tr>

  <tr>
    <th>{{form.percentage_error_rate_bmx_plasma | as_crispy_field}}</th>
  </tr>

  <tr>
    <th>{{form.percentage_error_rate_bmx_dbs | as_crispy_field}}</th>
  </tr>
  
  <tr>
    <td rowspan="3"><b>Abbott</b></td>
  </tr>

  <tr>
    <th>{{form.percentage_error_rate_abbott_plasma | as_crispy_field}}</th>
  </tr>

  <tr>
    <th>{{form.percentage_error_rate_abbott_dbs | as_crispy_field}}</th>
  </tr>

  <tr>
    <td rowspan="3"><b>Hologic Panther</b></td>
  </tr>

  <tr>
    <th>{{form.percentage_error_rate_hologic_panther_plasma | as_crispy_field}}</th>
  </tr>

  <tr>
    <th>{{form.percentage_error_rate_hologic_panther_dbs | as_crispy_field}}</th>
  </tr>

  <tr>
    <th colspan="4">{{form.total_ncs_from_audit | as_crispy_field}}</th>
  </tr>

  <tr>
    <th colspan="4">{{form.ncs_not_yet_closed | as_crispy_field}}</th>
  </tr>

</table>
<br><br>
<input  type="submit" class="button5" >
<a  href="#" class="button5" >Next</a>
</form>
</body>
{% endblock %}