{% extends 'base.html' %}
{% load crispy_forms_tags %}
 {% load humanize %}
{% block title %} Specimen Received | Meal {% endblock title %}

<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
  <title>Specimen Received</title>
  <link href="bitnami.css" media="all" rel="Stylesheet" type="text/css" /> 
  <link href="/dashboard/stylesheets/all.css" rel="stylesheet" type="text/css" />
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
  <link rel="stylesheet" href="../stylesheet/custom.css">
</head>

{% block content %}

<body>
  
  {% include "header5.html"%}

  <p></p>
  <br>
  <p></p>


	<h1 align="center">Specimen Received</h1>
	<label> Please choose a date: </label>
<select id="">
  <option value="Monday">Monday</option>
  <option value="Tuesday">Tuesday</option>
  <option value="Wednesday">Wednesday</option>
  <option value="Thursday">Thursday</option>
  <option value="Friday">Friday</option>
  <option value="Saturday">Saturday</option>
  <option value="Sunday">Sunday</option>
  <option value="Sunday">Total</option>
</select>
<p></p>
<p></p>
<br><br>
	<table class="table table-striped table-dark table-sm">
  <tr>
    <td colspan="4"><b>Laboratory</b></td> 
  </tr>

  <tr>
  	<td rowspan="4"><b>Samples Carried Over</b></td>
  	<td rowspan="2"><b>Previous weeks never (tested)</b></td>
	<th>{{form.samples_carried_over_previous_weeks_never_tested_plasma | as_crispy_field}}</th>
  </tr>

  <tr>
	<th>{{form.samples_carried_over_previous_weeks_never_tested_dbs | as_crispy_field}}</th>
  </tr>

	<tr>
		<td rowspan="2"><b>Previous Failed Samples</b></td>
		<th>{{form.samples_carried_over_previous_failed_samples_plasma | as_crispy_field}}</th> 
	</tr>

	<tr>
		<th>{{form.samples_carried_over_previous_failed_samples_dbs | as_crispy_field}}</th>
	</tr>

  <tr>
  	<td rowspan="2"><b>Samples Received</b></td>
  	<td rowspan="4"><b>Current week</b></td>
	<th>{{form.samples_received_current_week_plasma | as_crispy_field}}</th>
  </tr>

  <tr>
	<th>{{form.samples_received_current_week_dbs | as_crispy_field}}</th>
  </tr>

  <tr>
  	<td rowspan="2"><b>Samples Rejected</b></td>
	<th>{{form.samples_rejected_current_week_plasma | as_crispy_field}}</th>
  </tr>

  <tr>
	<th>{{form.samples_rejected_current_week_dbs | as_crispy_field}}</th>
  </tr>

  <tr>
  	<td rowspan="2"><b>Total Samples Received</b></td>
  	<td rowspan="2"><b>Current week</b></td>
	<th>{{form.total_samples_received_current_week_plasma | as_crispy_field}}</th>
  </tr>

  <tr>
	<th>{{form.total_samples_received_current_week_dbs | as_crispy_field}}</th>
  </tr>

  <tr>
  	<td rowspan="2" colspan="2"><b># of samples Entered into LIMS on Day of Arrival</b></td>
	<th>{{form.number_of_samples_entered_into_lims_on_day_of_arrival_plasma | as_crispy_field}}</th>
  </tr>

  <tr>
	<th>{{form.number_of_samples_entered_into_lims_on_day_of_arrival_dbs | as_crispy_field}}</th>
  </tr>

  <tr>
  	<td rowspan="2" colspan="2"><b># of Samples Entered into LIMS After Day of Arrival</b></td>
	<th>{{form.number_of_samples_entered_into_lims_after_day_of_arrival_plasma | as_crispy_field}}</th>
</tr>

<tr>
	<th>{{form.number_of_samples_entered_into_lims_after_day_of_arrival_dbs | as_crispy_field}}</th>
</tr>

<tr>
	<th colspan="3">{{form.number_of_hours_lims_was_functional | as_crispy_field}}</th>
  </tr>

  <tr>
  	<td rowspan="2"><b>Total Samples</b></td>
  	<td rowspan="2"><b>Current + Carryover</b></td>
	<th>{{form.total_samples_current_plus_carryover_plasma | as_crispy_field}}</th> 
  </tr>

  <tr>
	<th>{{form.total_samples_current_plus_carryover_dbs | as_crispy_field}}</th>
  </tr>

	<tr>
		<td rowspan="2" colspan="2"><b>Samples Referred</b></td>
		<th>{{form.samples_reffered_plasma | as_crispy_field}}</th>
	</tr>

  <tr>
	<th>{{form.samples_reffered_dbs | as_crispy_field}}</th>
  </tr>

  <tr>
	<th colspan="3">{{form.lab_samples_reffered_to | as_crispy_field}}</th>
  </tr>

	<tr> 
		<td rowspan="2" colspan="2"><b>% Rejection Rate</b></td>
		<th>{{form.percentage_rejection_rate_plasma | as_crispy_field}}</th>
	</tr>	  

  <tr>
	<th>{{form.percentage_rejection_rate_dbs | as_crispy_field}}</th>
  </tr>

  <tr>
  	<td rowspan="2" colspan="2"><b>Number of Results Printed From LIMS</b></td>
	<th>{{form.number_of_results_printed_from_lims_plasma | as_crispy_field}}</th>
  </tr>

  <tr>
	<th>{{form.number_of_results_printed_from_lims_dbs | as_crispy_field}}</th>
  </tr>

  <tr>
  	<td rowspan="2" colspan="2"><b>Total Results Dispatched by Lab</b></td>
	<th>{{form.total_results_dispatched_by_lab_plasma | as_crispy_field}}</th>
  </tr>

  <tr>
	<th>{{form.total_results_dispatched_by_lab_dbs | as_crispy_field}}</th>
  </tr>

	<tr>
		<td rowspan="2" colspan="2"><b>Total Results Dispatched by/Via SMS</b></td>
		<th>{{form.total_results_dispatched_by_lab_via_sms_plasma | as_crispy_field}}</th>
	</tr>

  <tr>
	<th>{{form.total_results_dispatched_by_lab_via_sms_dbs | as_crispy_field}}</th>
  </tr>

	<tr>
		<td rowspan="10"><b>Reasons of Rejections</b></td>
		<td rowspan="2"><b>Sample Quality Compromised</b></td>
		<th>{{form.reasons_for_rejections_sample_quality_compromised_plasma | as_crispy_field}}</th>
	</tr>

  <tr>
	<th>{{form.reasons_for_rejections_sample_quality_compromised_dbs | as_crispy_field}}</th>
  </tr>

	<tr>
		<td rowspan="2"><b>Sample Quantity Insufficient</b></td>
		<th>{{form.reasons_for_rejections_sample_quality_compromised_sample_quality_insufficient_plasma | as_crispy_field}}</th>
	</tr>

  <tr>
	<th>{{form.reasons_for_rejections_sample_quality_compromised_sample_quality_insufficient_dbs | as_crispy_field}}</th>
  </tr>

	<tr>
		<td rowspan="2"><b>Sample Information Inconsistent/Mismatch</b></td>
		<th>{{form.reasons_for_rejections_sample_quality_compromised_sample_information_mismatch_plasma | as_crispy_field}}</th>
	</tr>

  <tr>
	<th>{{form.reasons_for_rejections_sample_quality_compromised_sample_information_mismatch_dbs | as_crispy_field}}</th>
  </tr>

	<tr>
		<td rowspan="2"><b>Sample/Request Form Missing</b></td>
		<th>{{form.reasons_for_rejections_sample_quality_compromised_sample_or_request_form_missing_plasma | as_crispy_field}}</th>
	</tr>

  <tr>
	<th>{{form.reasons_for_rejections_sample_quality_compromised_sample_or_request_form_missing_dbs | as_crispy_field}}</th>
  </tr>

	<tr>
		<td rowspan="2"><b>DQA Check</b></td>
		<th>{{form.reasons_for_rejections_sample_quality_compromised_qda_check_plasma | as_crispy_field}}</th>
	</tr>

  <tr>
	<th>{{form.reasons_for_rejections_sample_quality_compromised_qda_check_dbs | as_crispy_field}}</th>
  </tr>

	<tr>
		<td rowspan="10"><b>Reasons for Sample Refferal</b></td>
		<td rowspan="2"><b>Reagent/Kit Stockout</b></td>
		<th>{{form.reasons_for_sample_refferal_reagent_or_kit_stockout_plasma | as_crispy_field}}</th>
	</tr>

  <tr>
	<th>{{form.reasons_for_sample_refferal_reagent_or_kit_stockout_dbs | as_crispy_field}}</th>
  </tr>

	<tr>
		<td rowspan="2"><b>Instrument Mechanical Failure</b></td>
		<th>{{form.reasons_for_sample_refferal_instrument_mechanical_failure_plasma | as_crispy_field}}</th>
	</tr>

  <tr>
	<th>{{form.reasons_for_sample_refferal_instrument_mechanical_failure_dbs | as_crispy_field}}</th>
  </tr>

	<tr>
		<td rowspan="2"><b>Insufficient Instrument Capacity</b></td>
		<th>{{form.reasons_for_sample_refferal_insufficient_instrument_capacity_plasma | as_crispy_field}}</th>
	</tr>

  <tr>
	<th>{{form.reasons_for_sample_refferal_insufficient_instrument_capacity_dbs | as_crispy_field}}</th>
  </tr>

	<tr>
		<td rowspan="2"><b>Insufficient HR Capacity</b></td>
		<th>{{form.reasons_for_sample_refferal_insufficient_hr_capacity_plasma | as_crispy_field}}</th>
	</tr>

  <tr>
	<th>{{form.reasons_for_sample_refferal_insufficient_hr_capacity_dbs | as_crispy_field}}</th>
  </tr>

	<tr>
		<td rowspan="2"><b>DQA Check</b></td>
		<th>{{form.reasons_for_sample_refferal_dqa_check_plasma | as_crispy_field}}</th>
	</tr>

  <tr>
	<th>{{form.reasons_for_sample_refferal_dqa_check_dbs | as_crispy_field}}</th>
  </tr>

  <tr>
	<th colspan="3">{{form.comments | as_crispy_field}}</th>
  </tr>
</table>

<br><br>
</body>
{% endblock %}