{% extends 'base.html' %}
 {% load humanize %}
 {% load crispy_forms_tags %}
{% block title %} Reasons for failures | Meal {% endblock title %}

<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
  <title>Reasons for failures</title>
 <link href="bitnami.css" media="all" rel="Stylesheet" type="text/css" />
  <link href="/dashboard/stylesheets/all.css" rel="stylesheet" type="text/css" />
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
  <link rel="stylesheet" href="../stylesheet/custom.css">
</head>
{% block content %}

<body>

  {% include "header2.html"%}

  <p></p>
  <br>
  <p></p>
<form action="" method="post" onsubmit="return alert('suck seed')">
  {% csrf_token %}
	<h1 align="center">Reasons for failures</h1>
<label> {{ form.dayofweek | as_crispy_field }} </label>

<p></p>
<p></p>
<br><br>

	<table class="table table-striped table-dark table-sm">

  <tr>
    <td colspan="3"><b>Laboratory</b></td>
  </tr>

  <tr>
  	<td rowspan="16"><b>Roche</b></td>
  	<td rowspan="8"><b>Plasma</b></td>
    <th>{{form.rocheplasmanumberoffailedtestsduetosamplequalityissues | as_crispy_field }}</th>
  </tr>

  <tr>
    <th>{{form.rocheplasmanumberoffailedtestsduetoreagentqualityissues | as_crispy_field }}</th>
  </tr>

  <tr>
    <th>{{form.rocheplasmanumberoffailedtestsduetoduetoqcfailure | as_crispy_field }}</th>
  </tr>

  <tr>
    <th>{{form.rocheplasmanumberoffailedtestsduetopowerfailure | as_crispy_field }}</th>
  </tr>

  <tr>
    <th>{{form.rocheplasmanumberoffailedtestsduetomechanicalfailure | as_crispy_field }}</th>
  </tr>

  <tr>
    <th>{{form.rocheplasmanumberoffailedtestsduetoprocessingerror | as_crispy_field }}</th>
  </tr>

  <tr>
    <th>{{form.rocheplasmanumberoffailedtestsduetoother | as_crispy_field }}</th>
  </tr>

  <tr>
    <th>{{form.rochedqacheckplasma | as_crispy_field }}</th>
  </tr>

   <tr>
    <td rowspan="8"><b>DBS<b></td>
      <th>{{form.rochedbsnumberoffailedtestsduetosamplequalityissues | as_crispy_field }}</th>
  </tr>

  <tr>
    <th>{{form.rochedbsnumberoffailedtestsduetoreagentqualityissues | as_crispy_field }}</th>
  </tr>

  <tr>
    <th>{{form.rochedbsnumberoffailedtestsduetoduetoqcfailure | as_crispy_field }}</th>
  </tr>

  <tr>
    <th>{{form.rochedbsnumberoffailedtestsduetopowerfailure | as_crispy_field }}</th>
  </tr>

  <tr>
    <th>{{form.rochedbsnumberoffailedtestsduetomechanicalfailure | as_crispy_field }}</th>
  </tr>

  <tr>
    <th>{{form.rochedbsnumberoffailedtestsduetoprocessingerror | as_crispy_field }}</th>
  </tr>

  <tr>
    <th>{{form.rochedbsnumberoffailedtestsduetoother | as_crispy_field }}</th>
  </tr>

  <tr>
    <th>{{form.rochedqacheckdbs | as_crispy_field }}</th>
  </tr>

  <tr>
    <td rowspan="16"><b>BMX</b></td>
    <td rowspan="8"><b>Plasma</b></td>
    <th>{{form.bmxplasmanumberoffailedtestsduetosamplequalityissues | as_crispy_field }}</th>
  </tr>

  <tr>
    <th>{{form.bmxplasmanumberoffailedtestsduetoreagentqualityissues | as_crispy_field }}</th>
  </tr>

  <tr>
    <th>{{form.bmxplasmanumberoffailedtestsduetoduetoqcfailure | as_crispy_field }}</th>
  </tr>

  <tr>
    <th>{{form.bmxplasmanumberoffailedtestsduetopowerfailure | as_crispy_field }}</th>
  </tr>

  <tr>
    <th>{{form.bmxplasmanumberoffailedtestsduetomechanicalfailure | as_crispy_field }}</th>
  </tr>

  <tr>
    <th>{{form.bmxplasmanumberoffailedtestsduetoprocessingerror | as_crispy_field }}</th>
  </tr>

  <tr>
    <th>{{form.bmxplasmanumberoffailedtestsduetoother | as_crispy_field }}</th>
  </tr>

  <tr>
    <th>{{form.bmxdqacheckplasma | as_crispy_field }}</th>
  </tr>

  <tr>
    <td rowspan="8"><b>DBS<b></td>
    <th>{{form.bmxdbsnumberoffailedtestsduetosamplequalityissues | as_crispy_field }}</th>
  </tr>

  <tr>
    <th>{{form.bmxdbsnumberoffailedtestsduetoreagentqualityissues | as_crispy_field }}</th>
  </tr>

  <tr>
    <th>{{form.bmxdbsnumberoffailedtestsduetoduetoqcfailure | as_crispy_field }}</th>
  </tr>

  <tr>
    <th>{{form.bmxdbsnumberoffailedtestsduetopowerfailure | as_crispy_field }}</th>
  </tr>

  <tr>
    <th>{{form.bmxdbsnumberoffailedtestsduetomechanicalfailure | as_crispy_field }}</th>
  </tr>
  <tr>
    <th>{{form.bmxdbsnumberoffailedtestsduetoprocessingerror | as_crispy_field }}</th>
  </tr>

  <tr>
    <th>{{form.bmxdbsnumberoffailedtestsduetoother | as_crispy_field }}</th>
  </tr>

  <tr>
    <th>{{form.bmxdqacheckdbs | as_crispy_field }}</th>
  </tr>

  <tr>
    <td rowspan="16"><b>Abbott</b></td>
    <td rowspan="8"><b>Plasma</b></td>
    <th>{{form.abbottplasmanumberoffailedtestsduetosamplequalityissues | as_crispy_field }}</th>
  </tr>

  <tr>
    <th>{{form.abbottplasmanumberoffailedtestsduetoreagentqualityissues | as_crispy_field }}</th>
  </tr>

  <tr>
    <th>{{form.abbottplasmanumberoffailedtestsduetoduetoqcfailure | as_crispy_field }}</th>
  </tr>

  <tr>
    <th>{{form.abbottplasmanumberoffailedtestsduetopowerfailure | as_crispy_field }}</th>
  </tr>

  <tr>
    <th>{{form.abbottplasmanumberoffailedtestsduetomechanicalfailure | as_crispy_field }}</th>
  </tr>

  <tr>
    <th>{{form.abbottplasmanumberoffailedtestsduetoprocessingerror | as_crispy_field }}</th>
  </tr>

  <tr>
    <th>{{form.abbottplasmanumberoffailedtestsduetoother | as_crispy_field }}</th>
  </tr>

  <tr>
    <th>{{form.abbottdqacheckplasma | as_crispy_field }}</th>
  </tr>

    <tr>
    <td rowspan="8"><b>DBS<b></td>
      <th>{{form.abbottdbsnumberoffailedtestsduetosamplequalityissues | as_crispy_field }}</th>
  </tr>

  <tr>
    <th>{{form.abbottdbsnumberoffailedtestsduetoreagentqualityissues | as_crispy_field }}</th>
  </tr>

  <tr>
    <th>{{form.abbottdbsnumberoffailedtestsduetoduetoqcfailure | as_crispy_field }}</th>
  </tr>

  <tr>
    <th>{{form.abbottdbsnumberoffailedtestsduetopowerfailure | as_crispy_field }}</th>
  </tr>

  <tr>
    <th>{{form.abbottdbsnumberoffailedtestsduetomechanicalfailure | as_crispy_field }}</th>
  </tr>

  <tr>
    <th>{{form.abbottdbsnumberoffailedtestsduetoprocessingerror | as_crispy_field }}</th>
  </tr>

  <tr>
    <th>{{form.abbottdbsnumberoffailedtestsduetoother | as_crispy_field }}</th>
  </tr>

  <tr>
    <th>{{form.abbottdqacheckdbs | as_crispy_field }}</th>
  </tr>

  <tr>
    <td rowspan="16"><b>Hologic Panther</b></td>
    <td rowspan="8"><b>Plasma</b></td>
    <th>{{form.hologicpantherplasmanumberoffailedtestsduetosamplequalityissues | as_crispy_field }}</th>
  </tr>

  <tr>
    <th>{{form.hologicpantherplasmanumberoffailedtestsduetoreagentqualityissues | as_crispy_field }}</th>
  </tr>

  <tr>
    <th>{{form.hologicpantherplasmanumberoffailedtestsduetoduetoqcfailure | as_crispy_field }}</th>
  </tr>

  <tr>
    <th>{{form.hologicpantherplasmanumberoffailedtestsduetopowerfailure | as_crispy_field }}</th>
  </tr>

  <tr>
    <th>{{form.hologicpantherplasmanumberoffailedtestsduetomechanicalfailure | as_crispy_field }}</th>
  </tr>

  <tr>
    <th>{{form.hologicpantherplasmanumberoffailedtestsduetoprocessingerror | as_crispy_field }}</th>
  </tr>

  <tr>
    <th>{{form.hologicpantherplasmanumberoffailedtestsduetoother | as_crispy_field }}</th>
  </tr>

  <tr>
    <th>{{form.hologicpantherdqacheckplasma | as_crispy_field }}</th>
  </tr>

    <tr>
    <td rowspan="8"><b>DBS<b></td>
      <th>{{form.hologicpantherdbsnumberoffailedtestsduetosamplequalityissues | as_crispy_field }}</th>
  </tr>

  <tr>
    <th>{{form.hologicpantherdbsnumberoffailedtestsduetoreagentqualityissues | as_crispy_field }}</th>
  </tr>

  <tr>
    <th>{{form.hologicpantherdbsnumberoffailedtestsduetoduetoqcfailure | as_crispy_field }}</th>
  </tr>

  <tr>
    <th>{{form.hologicpantherdbsnumberoffailedtestsduetopowerfailure | as_crispy_field }}</th>
  </tr>

  <tr>
    <th>{{form.hologicpantherdbsnumberoffailedtestsduetomechanicalfailure | as_crispy_field }}</th>
  </tr>

  <tr>
    <th>{{form.hologicpantherdbsnumberoffailedtestsduetoprocessingerror | as_crispy_field }}</th>
  </tr>

  <tr>
    <th>{{form.hologicpantherdbsnumberoffailedtestsduetoother | as_crispy_field }}</th>
  </tr>

  <tr>
    <th>{{form.hologicpantherdqacheckdbs | as_crispy_field }}</th>
  </tr>
</table>
<br><br>
  <input  type="submit" class="button5" >
<a  href="#" class="button5" >Next</a>
</form>
</body>
{% endblock %}