{% extends 'base.html' %}
 {% load humanize %}
{% block title %} Electric Outages Tool | Meal {% endblock title %}

<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
  <title>Electric Outages Tool</title>
  <link href="bitnami.css" media="all" rel="Stylesheet" type="text/css" /> 
  <link href="/dashboard/stylesheets/all.css" rel="stylesheet" type="text/css" />
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
  <link rel="stylesheet" href="../stylesheet/custom.css">
</head>

{% block content %}

<body>
  
  {% include "header3.html"%}

  <p></p>
  <br>
  <p></p>

  <h1 align="center">Electric Outages Tool</h1>
  <label> Please choose a date: </label>
<select id="">
  <option value="Monday">Monday</option>
  <option value="Tuesday">Tuesday</option>
  <option value="Wednesday">Wednesday</option>
  <option value="Thursday">Thursday</option>
  <option value="Friday">Friday</option>
  <option value="Saturday">Saturday</option>
  <option value="Sunday">Sunday</option>
  <option value="Sunday">Total</option>
</select>
<p></p>
<p></p>
<br><br>
  <table class="table table-striped table-dark table-sm">
  <tr>
    <td colspan="2"><b>Laboratory</b></td> 
    <td>Total</td>
  </tr>
  <tr>
    <td><b>Number of hours with no electricity per day</b></td>
    <td><input type="number" name=""></td>
    <td>0</td>
  </tr>
  <tr>
    <td><b>Number of hours generator was on per day</b></td>
    <td><input type="number" name=""></td>
    <td>0</td>
  </tr>
  <tr>
    <td><b>Litres of Fuel added to generator per day</b></td>
    <td><input type="number" name=""></td>
    <td>0</td>
  </tr>
  <tr>
    <td><b>Number of hours machine/s was not being used due to power cut per day</b></td>
    <td><input type="number" name=""></td>
    <td>0</td>
  </tr>
  <tr>
    <td><b>Total Tests done per day using generator</b></td>
    <td><input type="number" name=""></td>
    <td>0</td>
  </tr>
</table>
<br><br>
</body>
{% endblock %}