{% extends 'base.html' %}
 {% load humanize %}
{% block title %} Initial Entries | Meal {% endblock title %}

<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
  <title>Home page</title>
  <link href="bitnami.css" media="all" rel="Stylesheet" type="text/css" /> 
  <link href="/dashboard/stylesheets/all.css" rel="stylesheet" type="text/css" />
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
  <link rel="stylesheet" href="../stylesheet/custom.css">
</head>

{% block content %}

<body>
  
  {% include "header3.html"%}

  <p></p>
  <br>
  <p></p>

	<h1 align="center">Initials</h1>
<!-- 	<label> Please choose a date: </label>
<select id="">
  <option value="Monday">Monday</option>
  <option value="Tuesday">Tuesday</option>
  <option value="Wednesday">Wednesday</option>
  <option value="Thursday">Thursday</option>
  <option value="Friday">Friday</option>
  <option value="Saturday">Saturday</option>
  <option value="Sunday">Sunday</option>
  <option value="Sunday">Total</option>
</select>
<p></p> -->
<p></p>
<br><br>
  <form action="" method="post" onsubmit="return alert('suck seed')">
    {% csrf_token %}

<table class="table table-striped table-dark table-sm">
  <tr>
    <td><b>Reporting Week:</b></td>
    <td><input type="text" name=""></td>
  </tr>
  <tr>
    <td><b>Month:</b></td>
    <td><input type="text" name=""></td>
  </tr>
  <tr>
    <td><b>Laboratory:</b></td>
    <td><input type="text" name=""></td>
  </tr>
</table>


  <p></p>
<br><br>
<br>

<table class="table table-striped table-dark table-sm">
  <tr>
    <td colspan="6"><b>Age/Sex Dissagregations of All Specimens Received</b></td>
  </tr>
  <tr>
    <th>Age</th>
    <th>Male</th>
    <th>Female(non PBFW)</th>
    <th>Female PBFW</th>
    <th>Unknown Sex</th>
    <th>Total</th>
  </tr>
  <tr>
    <td><15</td>
    <td><input type="" name=""></td>
    <td><input type="" name=""></td>
    <td><input type="" name=""></td>
    <td><input type="" name=""></td>
    <td><input type="" name=""></td>
  </tr>
  <tr>
    <td>15-19</td>
    <td><input type="" name=""></td>
    <td><input type="" name=""></td>
    <td><input type="" name=""></td>
    <td><input type="" name=""></td>
    <td><input type="" name=""></td>
  </tr>
  <tr>
    <td>20-24</td>
    <td><input type="" name=""></td>
    <td><input type="" name=""></td>
    <td><input type="" name=""></td>
    <td><input type="" name=""></td>
    <td><input type="" name=""></td>
  </tr>
  <tr>
    <td>25-49</td>
    <td><input type="" name=""></td>
    <td><input type="" name=""></td>
    <td><input type="" name=""></td>
    <td><input type="" name=""></td>
    <td><input type="" name=""></td>
  </tr>
  <tr>
    <td>50+</td>
    <td><input type="" name=""></td>
    <td><input type="" name=""></td>
    <td><input type="" name=""></td>
    <td><input type="" name=""></td>
    <td><input type="" name=""></td>
  </tr>
  <tr>
    <td>Unknown</td>
    <td><input type="" name=""></td>
    <td><input type="" name=""></td>
    <td><input type="" name=""></td>
    <td><input type="" name=""></td>
    <td><input type="" name=""></td>
  </tr>
  <tr>
    <td>Totals</td>
    <td><input type="" name=""></td>
    <td><input type="" name=""></td>
    <td><input type="" name=""></td>
    <td><input type="" name=""></td>
    <td><input type="" name=""></td>
  </tr>
</table>


  <p></p>
<br><br>
<br>

<table class="table table-striped table-dark table-sm">
  <tr>
    <th>TAT</th>
    <th>Median Collection to pickup (hrs)</th>
    <th>Median Speciman Hub to VL lab (days)</th>
    <th>Median Intra lab (days)</th>
    <th>Median results VL lab to hub (days)</th>
    <th>Median Results Hub to Clinic (days)</th>
  </tr>
  <tr>
    <td><b>Plasma</b></td>
    <td><input type="" name=""></td>
    <td><input type="" name=""></td>
    <td><input type="" name=""></td>
    <td><input type="" name=""></td>
    <td><input type="" name=""></td>
  </tr>
  <tr>
    <td>DBS</td>
    <td><input type="" name=""></td>
    <td><input type="" name=""></td>
    <td><input type="" name=""></td>
    <td><input type="" name=""></td>
    <td><input type="" name=""></td>
  </tr>
</table>


  <p></p>
<br><br>
<br>

<table class="table table-striped table-dark table-sm">
  <tr>
    <th>Machine</th>
    <th># of Machine Breakdowns</th>
    <th>Reasons</th>
  </tr>
  <tr>
    <td><b>Roche</b></td>
    <td><input type="" name=""></td>
    <td><input type="" name=""></td>
  </tr>
  <tr>
    <td>Abbott</td>
    <td><input type="" name=""></td>
    <td><input type="" name=""></td>
  </tr>
   <tr>
    <td>Hologic Panther</td>
    <td><input type="" name=""></td>
    <td><input type="" name=""></td>
  </tr>
   <tr>
    <td>BMX</td>
    <td><input type="" name=""></td>
    <td><input type="" name=""></td>
  </tr>
</table>


  <p></p>
<br><br>
<br>

<table class="table table-striped table-dark table-sm">
  <tr>
    <th>Machine</th>
    <th>Machine Downtime (days)</th>
    <th>Reasons</th>
    <th>Time taken for downtime to be resolved</th>
  </tr>
  <tr>
    <td><b>Roche</b></td>
    <td><input type="" name=""></td>
    <td><input type="" name=""></td>
    <td><input type="" name=""></td>
  </tr>
  <tr>
    <td>Abbott</td>
    <td><input type="" name=""></td>
    <td><input type="" name=""></td>
    <td><input type="" name=""></td>
  </tr>
   <tr>
    <td>Hologic Panther</td>
    <td><input type="" name=""></td>
    <td><input type="" name=""></td>
    <td><input type="" name=""></td>
  </tr>
   <tr>
    <td>BMX</td>
    <td><input type="" name=""></td>
    <td><input type="" name=""></td>
    <td><input type="" name=""></td>
  </tr>
</table>


  <p></p>
<br><br>
<br>

<table class="table table-striped table-dark table-sm">
  <tr>
    <th>Machine</th>
    <th>Stockout (days)</th>
    <th>Reasons</th>
  </tr>
  <tr>
    <td><b>Roche</b></td>
    <td><input type="" name=""></td>
    <td><input type="" name=""></td>
  </tr>
  <tr>
    <td>Abbott</td>
    <td><input type="" name=""></td>
    <td><input type="" name=""></td>
  </tr>
   <tr>
    <td>Hologic Panther</td>
    <td><input type="" name=""></td>
    <td><input type="" name=""></td>
  </tr>
   <tr>
    <td>BMX</td>
    <td><input type="" name=""></td>
    <td><input type="" name=""></td>
  </tr>
</table>

  <p></p>
<br><br>
<br>

<table class="table table-striped table-dark table-sm">
  <tr>
    <th>Machine</th>
    <th>Amount of Liquid Waste</th>
  </tr>
  <tr>
    <td><b>Roche</b></td>
    <td><input type="" name=""></td>
  </tr>
  <tr>
    <td>Abbott</td>
    <td><input type="" name=""></td>
  </tr>
   <tr>
    <td>Hologic Panther</td>
    <td><input type="" name=""></td>
  </tr>
   <tr>
    <td>BMX</td>
    <td><input type="" name=""></td>
  </tr>
</table>

  <p></p>
<br><br>
<br>

<table class="table table-striped table-dark table-sm">
  <tr>
    <th>Reagent Tests Loaned Out to other labs</th>
    <th>Reagent Loaned to which lab?</th>
    <th>Reagent Received on loan from other Labs</th>
    <th>Reagent Received on loan from which Labs</th>
    <th>Stock on Hand</th>
    <th>Tests Available</th>
    <th>Months of Stock</th>
    <th>Tests Expired this month before use</th>
  </tr>
  <tr>
    <td><b>Roche</b></td>
    <td><input type="" name=""></td>
    <td><input type="" name=""></td>
    <td><input type="" name=""></td>
    <td><input type="" name=""></td>
    <td><input type="" name=""></td>
    <td><input type="" name=""></td>
    <td><input type="" name=""></td>
  </tr>
  <tr>
    <td>Abbott</td>
    <td><input type="" name=""></td>
    <td><input type="" name=""></td>
    <td><input type="" name=""></td>
    <td><input type="" name=""></td>
    <td><input type="" name=""></td>
    <td><input type="" name=""></td>
    <td><input type="" name=""></td>
  </tr>
   <tr>
    <td>Hologic Panther</td>
    <td><input type="" name=""></td>
    <td><input type="" name=""></td>
    <td><input type="" name=""></td>
    <td><input type="" name=""></td>
    <td><input type="" name=""></td>
    <td><input type="" name=""></td>
    <td><input type="" name=""></td>
  </tr>
   <tr>
    <td>BMX</td>
    <td><input type="" name=""></td>
    <td><input type="" name=""></td>
    <td><input type="" name=""></td>
    <td><input type="" name=""></td>
    <td><input type="" name=""></td>
    <td><input type="" name=""></td>
    <td><input type="" name=""></td>
  </tr>
</table>
<input  type="submit" class="button5" >
<a  href="#" class="button5" >Next</a>
</form>
</body>
</html>
{% endblock%}