{% extends 'base.html' %}
 {% load humanize %}
 {% load crispy_forms_tags %}
{% block title %} General | Meal {% endblock title %}

<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
  <title>General</title>
 <link href="bitnami.css" media="all" rel="Stylesheet" type="text/css" /> 
  <link href="/dashboard/stylesheets/all.css" rel="stylesheet" type="text/css" />
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
  <link rel="stylesheet" href="../stylesheet/custom.css">
</head>

{% block content %}

<body>
  
  {% include "header.html"%}

  <p></p>
  <br>
  <p></p>

<form action="" method="post" onsubmit="return alert('suck seed')"> 
  {% csrf_token %}

	<h1 align="center">General Info</h1>
  {{ form.day_of_week | as_crispy_field }}

<p></p>
<p></p>
<br><br>

	<table class="table table-striped table-dark table-sm">
		
    <tr>
      <td>{{ form.general_comments_regarding_testing_and_challenges_faced_by_the_laboratory | as_crispy_field }}</td>
    </tr>
    <tr>
      {{ form.number_of_staff_who_tested_positive_to_covid_19_at_vl_lab | as_crispy_field }}
    </tr>
  </table>

<br><p></p>

  <table class="table table-striped table-dark table-sm">
    <tr>
      {{ form.number_of_staff_who_have_been_vaccinated | as_crispy_field }}
    </tr>
    <tr>
    </tr>
    <tr>
      {{ form.Comments | as_crispy_field }}

    </tr>
  </table>
    <br><p></p>

    <table class="table table-striped table-dark table-sm">
    <tr>
      {{ form.Request_to_brti_from_the_laboratory | as_crispy_field }}
    </tr>
</table>
<br><br>
</form>
</body>
{% endblock %}