
 {% extends 'base.html' %}
 {% load humanize %}
{% block title %} Machine, Downtime & Reagent Stock Out Tool | Meal {% endblock title %}

<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
  <title>Machine, Downtime & Reagent Stock Out Tool</title>
<link href="bitnami.css" media="all" rel="Stylesheet" type="text/css" /> 
  <link href="/dashboard/stylesheets/all.css" rel="stylesheet" type="text/css" />
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
  <link rel="stylesheet" href="../stylesheet/custom.css">
</head>

{% block content %}
<body>
	
  {% include "header.html"%}

  <p></p>
  <br>
  <p></p>

<form action="" method="post" onsubmit="return alert('suck seed')"> 
  {% csrf_token %}
	<h1 align="center">Machine, Downtime & Reagent Stock Out Tool</h1>
	<label> Please choose a Laboratory: </label>
<select id="">
  <option>NMRL</option>
  <option>NTBRL</option>
  <option>Mutare</option>
  <option>Wilkins</option>
  <option>BRIDH</option>
  <option>Gweru</option>
  <option>Chinhoyi</option>
  <option>Masvingo </option>
  <option>Beitbridge</option>
  <option>Victoria Falls</option>
  <option>Bindura</option>
  <option>Kadoma</option>
  <option>Marondera</option>
  <option>St Lukes</option>
  <option>Gwanda</option>
  <option>Total</option>
</select>
<p></p>
<p></p>
<br><br>

	<table class="table table-striped table-dark table-sm">
    <tr>
      <th rowspan="6">Machine Breakdown (Number)</th>
      <th>Abbott</th>
      <td><input type="Number" name=""></td>
    </tr>
    <tr>
      <th>BMX</th>
      <td><input type="Number" name=""></td>
    </tr>  
    <tr>
      <th>GeneXpert</th>
      <td><input type="Number" name=""></td>
    </tr>
    <tr>
      <th>Quant Studio 3</th>
      <td><input type="Number" name=""></td>
    </tr>
    <tr>
      <th>Hologic Panther</th>
      <td><input type="Number" name=""></td>
    </tr>
    <tr>
      <th>Comments</th>
      <td><textarea></textarea></td>
    </tr>

    <tr>
      <th rowspan="6">Machine Downtime (Days)</th>
      <th>Abbott</th>
      <td><input type="Number" name=""></td>
    </tr>
    <tr>
      <th>BMX</th>
      <td><input type="Number" name=""></td>
    </tr>  
    <tr>
      <th>GeneXpert</th>
      <td><input type="Number" name=""></td>
    </tr>
    <tr>
      <th>Quant Studio 3</th>
      <td><input type="Number" name=""></td>
    </tr>
    <tr>
      <th>Hologic Panther</th>
      <td><input type="Number" name=""></td>
    </tr>
    <tr>
      <th>Comments</th>
      <td><textarea></textarea></td>
    </tr>

    <tr>
      <th rowspan="6">Reagent Stockout</th>
      <th>Abbott</th>
      <td><input type="Number" name=""></td>
    </tr>
    <tr>
      <th>BMX</th>
      <td><input type="Number" name=""></td>
    </tr>  
    <tr>
      <th>GeneXpert</th>
      <td><input type="Number" name=""></td>
    </tr>
    <tr>
      <th>Quant Studio 3</th>
      <td><input type="Number" name=""></td>
    </tr>
    <tr>
      <th>Hologic Panther</th>
      <td><input type="Number" name=""></td>
    </tr>
    <tr>
      <th>Comments</th>
      <td><textarea></textarea></td>
    </tr>
  </table>
  <input  type="submit" class="button5" >
<a  href="#" class="button5" >Next</a>
</form>
</body>
{% endblock %}