

 {% extends 'base.html' %}
 {% load humanize %}
 {% load crispy_forms_tags %}
{% block title %} Specimen Run | Meal {% endblock title %}


<head>
  <link href="bitnami.css" media="all" rel="Stylesheet" type="text/css" /> 
  <link href="/dashboard/stylesheets/all.css" rel="stylesheet" type="text/css" />
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
<link rel="stylesheet" href="../stylesheet/custom.css">
  <style>	
  	
    table, th, td {
        border: 1px solid black;
        border-collapse: collapse;
        padding: 6px;
            }
        </style>
</head>


{% block content %}
<body>
	
  {% include "header.html"%}

  <p></p>
  <br>
  <p></p>
<form action="" method="post" onsubmit="return alert('suck seed')"> 
  {% csrf_token %}
  <h1 align="center">Specimens Run</h1>
	<label> {{form.day_of_week | as_crispy_field}}</label>

<p></p>
<p></p>
<br><br>

	<table class="table table-striped table-dark table-sm">

    <tr>
      <th rowspan="29">Tests Done</th>
    </tr>

    <tr>
      <th rowspan="4">Abbott</th>
      <th>{{form.tests_done_abbott_run | as_crispy_field}}</th>
    </tr>

    <tr>
      <th>{{form.tests_done_abbott_failed_but_eligible_for_repeat | as_crispy_field}}</th>
    </tr>

    <tr>
      <th>{{form.tests_done_abbott_failed_but_not_eligible_for_repeat | as_crispy_field}}</th>
    </tr>

    <tr>
      <th>{{form.tests_done_abbott_repeat | as_crispy_field}}</th>
    </tr>

    <tr>
      <th rowspan="4">BMX</th>
      <th>{{form.tests_done_bmx_run | as_crispy_field}}</th>
    </tr>

    <tr>
      <th>{{form.tests_done_bmx_failed_but_eligible_for_repeat | as_crispy_field}}</th>
    </tr>

    <tr>
      <th>{{form.tests_done_bmx_failed_but_not_eligible_for_repeat | as_crispy_field}}</th>
    </tr>

    <tr>
      <th>{{form.tests_done_bmx_repeat | as_crispy_field}}</th>
    </tr>

    <tr>
      <th rowspan="4">GeneXpert</th>
      <th>{{form.tests_done_genexpert_run | as_crispy_field}}</th>
    </tr>

    <tr>
      <th>{{form.tests_done_genexpert_failed_but_eligible_for_repeat | as_crispy_field}}</th>
    </tr>

    <tr>
      <th>{{form.tests_done_genexpert_failed_but_not_eligible_for_repeat | as_crispy_field}}</th>
    </tr>

    <tr>
      <th>{{form.tests_done_genexpert_repeat | as_crispy_field}}</th>
    </tr>

    <tr>
      <th rowspan="4">Quant Studio3</th>
      <th>{{form.tests_done_quant_studio3_run | as_crispy_field}}</th>
    </tr>

    <tr>
      <th>{{form.tests_done_quant_studio3_failed_but_eligible_for_repeat | as_crispy_field}}</th>
    </tr>

    <tr>
      <th>{{form.tests_done_quant_studio3_failed_but_not_eligible_for_repeat | as_crispy_field}}</th>
    </tr>

    <tr>
      <th>{{form.tests_done_quant_studio3_repeat | as_crispy_field}}</th>
    </tr>

    <tr>
      <th rowspan="4">Hologic Panther</th>
      <th>{{form.tests_done_hologic_panther_run | as_crispy_field}}</th>
    </tr>

    <tr>
      <th>{{form.tests_done_hologic_panther_failed_but_eligible_for_repeat | as_crispy_field}}</th>
    </tr>

    <tr>
      <th>{{form.tests_done_hologic_panther_failed_but_not_eligible_for_repeat | as_crispy_field}}</th>
    </tr>

    <tr>
      <th>{{form.tests_done_hologic_panther_repeat | as_crispy_field}}</th>
    </tr>

    <tr>
      <th rowspan="4">RDT (Antibody)</th>
      <th>{{form.tests_done_rdt_antibody_run | as_crispy_field}}</th>
    </tr>

    <tr>
      <th>{{form.tests_done_rdt_antibody_failed_but_eligible_for_repeat | as_crispy_field}}</th>
    </tr>

    <tr>
      <th>{{form.tests_done_rdt_antibody_failed_but_not_eligible_for_repeat | as_crispy_field}}</th>
    </tr>

    <tr>
      <th>{{form.tests_done_rdt_antibody_repeat | as_crispy_field}}</th>
    </tr>

    <tr>
      <th rowspan="4">RDT (Antigen)</th>
      <th>{{form.tests_done_rdt_antigen_run | as_crispy_field}}</th>
    </tr>

    <tr>
      <th>{{form.tests_done_rdt_antigen_failed_but_eligible_for_repeat | as_crispy_field}}</th>
    </tr>

    <tr>
      <th>{{form.tests_done_rdt_antigen_failed_but_not_eligible_for_repeat | as_crispy_field}}</th>
    </tr>

    <tr>
      <th>{{form.tests_done_rdt_antigen_repeat | as_crispy_field}}</th>
    </tr>
    
    <tr>
      <th rowspan="3">Total Tests Done</th>
      <th colspan="2">{{form.total_tests_done | as_crispy_field}}</th>
    </tr>

    <tr>
      <th colspan="2">{{form.total_tests_done_total_repeats | as_crispy_field}}</th>
    </tr>

    <tr>
      <th colspan="2">{{form.total_tests_done_total_patients_run | as_crispy_field}}</th>
    </tr>
    
    <tr>
      <th rowspan="7">Error Rates</th>
      <th colspan="2">{{form.error_rates_abbott | as_crispy_field}}</th>
    </tr>

    <tr>
      <th colspan="2">{{form.error_rates_bmx | as_crispy_field}}</th>
    </tr>

    <tr>
      <th colspan="2">{{form.error_rates_genexpert | as_crispy_field}}</th>
    </tr>
    
    <tr>
      <th colspan="2">{{form.error_rates_quant_studio_3 | as_crispy_field}}</th>
    </tr>

    <tr>
      <th colspan="2">{{form.error_rates_hologic_panther | as_crispy_field}}</th>
    </tr>

    <tr>
      <th colspan="2">{{form.error_rates_rdt_antibody | as_crispy_field}}</th>
    </tr>

    <tr>
      <th colspan="2">{{form.error_rates_rdt_antigen | as_crispy_field}}</th>
    </tr>

</table>
<br><br>
<input  type="submit" class="button5" >
<a  href="#" class="button5" >Next</a>
</form>
</body>

{% endblock %}