{% extends 'base.html' %}
 {% load humanize %}
 {% load crispy_forms_tags %}
 {% block title %} Specimens Received | Meal {% endblock title %}


<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
  <title>Specimen Received</title>
<link href="bitnami.css" media="all" rel="Stylesheet" type="text/css" /> 
  <link href="/dashboard/stylesheets/all.css" rel="stylesheet" type="text/css" />
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
  <link rel="stylesheet" href="../stylesheet/custom.css">
</head>

{% block content %}

<body>
  
  {% include "header.html"%}

  <p></p>
  <br>
  <p></p>

  <form action="" method="post" onsubmit="return alert('suck seed')">
    <h1 align="center">Specimens Received</h1>
	<label> {{form.day_of_week | as_crispy_field}}</label>
<p></p>
<p></p>
<br><br>

{% csrf_token %}

	<table class="table table-striped table-dark table-sm">
    <tr>
      <th>{{form.samples_carried_over_previous_weeks | as_crispy_field}}</th>
      <th colspan="2">Samples Carried Over (Previous Weeks(s))</th>
      <td><input type="number" name=""></td>
    </tr>
    
    <tr>
      <th rowspan="7">Samples Received (Current Week)</th>
      <th>{{form.samples_received_current_week_nasopharyngeal_swab | as_crispy_field}}</th>
      <th>Nasopharyngeal Swab</th>
      <td><input type="number" name=""></td>
    </tr>
    <tr>
      <th>Nasal Swab</th>
      <td><input type="number" name=""></td>
    </tr>
    <tr>
      <th>Oropharyngeal Swab</th>
      <td><input type="number" name=""></td>
    </tr>
    <tr>
      <th>Midturbinate Swab</th>
      <td><input type="number" name=""></td>
    </tr>
    <tr>
      <th>Sputum</th>
      <td><input type="number" name=""></td>
    </tr>
    <tr>
      <th>Whole Blood/Plasma/Serum</th>
      <td><input type="number" name=""></td>
    </tr>
    <tr>
      <th>Other(specify)</th>
      <td><input type="number" name=""></td>
    </tr>

    <tr>
      <th colspan="2">Samples Rejected (Current Week)</th>
      <td><input type="number" name=""></td>
    </tr>

    <tr>
      <th colspan="2">Total Samples Received (Current Week)</th>
      <td><input type="number" name=""></td>
    </tr>

    <tr>
      <th colspan="2"># of Samples entered into LIMS</th>
      <td><input type="number" name=""></td>
    </tr>

    <tr>
      <th colspan="2">Total Samples Current + Carryover</th>
      <td><input type="number" name=""></td>
    </tr>

    <tr>
      <th colspan="2">Samples Referred</th>
      <td><input type="number" name=""></td>
    </tr>

    <tr>
      <th colspan="2">Samples Referred to (Name)</th>
      <td><input type="text" name=""></td>
    </tr>

    <tr>
      <th colspan="2">% Rejection Rate (Current Week)</th>
      <td><input type="number" name=""></td>
    </tr>

    <tr>
      <th colspan="2">Number of Results printed (LIMS)</th>
      <td><input type="number" name=""></td>
    </tr>

    <tr>
      <th colspan="2">Total Results dispatched by Lab</th>
      <td><input type="number" name=""></td>
    </tr>

    <tr>
      <th colspan="2">Comment: [Please input any comment regarding  samples carryover; samples received; samples rejected; rejection rate; printing and dispatch of results and developments and policy changes if applicable]</th>
      <td><textarea></textarea></td>
    </tr>

</table>

<input  type="submit" class="button5" >
<a  href="#" class="button5" >Next</a>

<br><br>
  </form>
</body>
{% endblock %}