

 {% extends 'base.html' %}
 {% load humanize %}
 {% load crispy_forms_tags %}
{% block title %} Specimen Run | Meal {% endblock title %}


<head>
  <link href="bitnami.css" media="all" rel="Stylesheet" type="text/css" /> 
  <link href="/dashboard/stylesheets/all.css" rel="stylesheet" type="text/css" />
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
<link rel="stylesheet" href="../stylesheet/custom.css">
  <style>	
  	
    table, th, td {
        border: 1px solid black;
        border-collapse: collapse;
        padding: 6px;
            }
        </style>
</head>


{% block content %}
<body>
	
  {% include "header.html"%}

  <p></p>
  <br>
  <p></p>
<form action="" method="post" onsubmit="return alert('suck seed')"> 
  {% csrf_token %}
  <h1 align="center">Specimens Run</h1>
	<label> Please choose a Laboratory: </label>
<select id="">
  <option>NMRL</option>
  <option>NTBRL</option>
  <option>Mutare</option>
  <option>Wilkins</option>
  <option>BRIDH</option>
  <option>Gweru</option>
  <option>Chinhoyi</option>
  <option>Masvingo </option>
  <option>Beitbridge</option>
  <option>Victoria Falls</option>
  <option>Bindura</option>
  <option>Kadoma</option>
  <option>Marondera</option>
  <option>St Lukes</option>
  <option>Gwanda</option>
  <option>Total</option>
</select>
<p></p>
<p></p>
<br><br>

	<table class="table table-striped table-dark table-sm">
    <tr>
      <th rowspan="29">Tests Done</th>
    </tr>
    <tr>
      <th rowspan="4">Abbott</th>
      <th>Run</th>
      <td><input type="number" name=""></td>
    </tr>
    <tr>
      <th>Failed but eligible for repeat</th>
      <td><input type="number" name=""></td>
    </tr>
    <tr>
      <th>Failed but not eligible for repeat</th>
      <td><input type="number" name=""></td>
    </tr>
    <tr>
      <th>Repeat</th>
      <td><input type="number" name=""></td>
    </tr>
    <tr>
      <th rowspan="4">BMX</th>
      <th>Run</th>
      <td><input type="number" name=""></td>
    </tr>
    <tr>
      <th>Failed but eligible for repeat</th>
      <td><input type="number" name=""></td>
    </tr>
    <tr>
      <th>Failed but not eligible for repeat</th>
      <td><input type="number" name=""></td>
    </tr>
    <tr>
      <th>Repeat</th>
      <td><input type="number" name=""></td>
    </tr>

    <tr>
      <th rowspan="4">GeneXpert</th>
      <th>Run</th>
      <td><input type="number" name=""></td>
    </tr>
    <tr>
      <th>Failed but eligible for repeat</th>
      <td><input type="number" name=""></td>
    </tr>
    <tr>
      <th>Failed but not eligible for repeat</th>
      <td><input type="number" name=""></td>
    </tr>
    <tr>
      <th>Repeat</th>
      <td><input type="number" name=""></td>
    </tr>
    <tr>
      <th rowspan="4">Quant Studio3</th>
      <th>Run</th>
      <td><input type="number" name=""></td>
    </tr>
    <tr>
      <th>Failed but eligible for repeat</th>
      <td><input type="number" name=""></td>
    </tr>
    <tr>
      <th>Failed but not eligible for repeat</th>
      <td><input type="number" name=""></td>
    </tr>
    <tr>
      <th>Repeat</th>
      <td><input type="number" name=""></td>
    </tr>

    <tr>
      <th rowspan="4">Hologic Panther</th>
      <th>Run</th>
      <td><input type="number" name=""></td>
    </tr>
    <tr>
      <th>Failed but eligible for repeat</th>
      <td><input type="number" name=""></td>
    </tr>
    <tr>
      <th>Failed but not eligible for repeat</th>
      <td><input type="number" name=""></td>
    </tr>
    <tr>
      <th>Repeat</th>
      <td><input type="number" name=""></td>
    </tr>
    <tr>
      <th rowspan="4">RDT (Antibody)</th>
      <th>Run</th>
      <td><input type="number" name=""></td>
    </tr>
    <tr>
      <th>Failed but eligible for repeat</th>
      <td><input type="number" name=""></td>
    </tr>
    <tr>
      <th>Failed but not eligible for repeat</th>
      <td><input type="number" name=""></td>
    </tr>
    <tr>
      <th>Repeat</th>
      <td><input type="number" name=""></td>
    </tr>

    <tr>
      <th rowspan="4">RDT (Antigen)</th>
      <th>Run</th>
      <td><input type="number" name=""></td>
    </tr>
    <tr>
      <th>Failed but eligible for repeat</th>
      <td><input type="number" name=""></td>
    </tr>
    <tr>
      <th>Failed but not eligible for repeat</th>
      <td><input type="number" name=""></td>
    </tr>
    <tr>
      <th>Repeat</th>
      <td><input type="number" name=""></td>
    </tr>
    
    <tr>
      <th rowspan="3">Total Tests Done</th>
      <th colspan="2">Total Tests Done</th>
      <td><input type="number" name=""></td>
    </tr>
    <tr>
      <th colspan="2">Total Repeats</th>
      <td><input type="number" name=""></td>
    </tr>
    <tr>
      <th colspan="2">Total Patients Run</th>
      <td><input type="number" name=""></td>
    </tr>
    
    <tr>
      <th rowspan="7">Error Rates</th>
      <th colspan="2">Abbott</th>
      <td><input type="text" name=""></td>
    </tr>
    <tr>
      <th colspan="2">BMX</th>
      <td><input type="text" name=""></td>
    </tr>
    <tr>
      <th colspan="2">GeneXper</th>
      <td><input type="text" name=""></td>
    </tr>
    <tr>
      <th colspan="2">Quant Studio3</th>
      <td><input type="text" name=""></td>
    </tr>
    <tr>
      <th colspan="2">Hologic Panther</th>
      <td><input type="text" name=""></td>
    </tr>
    <tr>
      <th colspan="2">RDT (Antibody)</th>
      <td><input type="text" name=""></td>
    </tr>
    <tr>
      <th colspan="2">RDT(Antigen)</th>
      <td><input type="text" name=""></td>
    </tr>

</table>
<br><br>
<input  type="submit" class="button5" >
<a  href="#" class="button5" >Next</a>
</form>
</body>

{% endblock %}