

 {% extends 'base.html' %}
 {% load humanize %}
 {% load crispy_forms_tags %}
{% block title %} Specimen Run | Meal {% endblock title %}


<head>
  <link href="bitnami.css" media="all" rel="Stylesheet" type="text/css" />
  <link href="/dashboard/stylesheets/all.css" rel="stylesheet" type="text/css" />
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
<link rel="stylesheet" href="../stylesheet/custom.css">
  <style>

    table, th, td {
        border: 1px solid black;
        border-collapse: collapse;
        padding: 6px;
            }
        </style>
</head>


{% block content %}
<body>

  {% include "header.html"%}

  <p></p>
  <br>
  <p></p>
<form action="" method="post" onsubmit="return alert('suck seed')">
  {% csrf_token %}
  <h1 align="center">Specimens Run</h1>
	<label> {{form.dayofweek | as_crispy_field}}</label>

<p></p>
<p></p>
<br><br>

	<table class="table table-striped table-dark table-sm">

    <tr>
      <th rowspan="29">Tests Done</th>
    </tr>

    <tr>
      <th rowspan="4">Abbott</th>
      <th>{{form.testsdoneabbottrun | as_crispy_field}}</th>
    </tr>

    <tr>
      <th>{{form.testsdoneabbottfailedbuteligibleforrepeat | as_crispy_field}}</th>
    </tr>

    <tr>
      <th>{{form.testsdoneabbottfailedbutnoteligibleforrepeat | as_crispy_field}}</th>
    </tr>

    <tr>
      <th>{{form.testsdoneabbottrepeat | as_crispy_field}}</th>
    </tr>

    <tr>
      <th rowspan="4">BMX</th>
      <th>{{form.testsdonebmxrun | as_crispy_field}}</th>
    </tr>

    <tr>
      <th>{{form.testsdonebmxfailedbuteligibleforrepeat | as_crispy_field}}</th>
    </tr>

    <tr>
      <th>{{form.testsdonebmxfailedbutnoteligibleforrepeat | as_crispy_field}}</th>
    </tr>

    <tr>
      <th>{{form.testsdonebmxrepeat | as_crispy_field}}</th>
    </tr>

    <tr>
      <th rowspan="4">GeneXpert</th>
      <th>{{form.testsdonegenexpertrun | as_crispy_field}}</th>
    </tr>

    <tr>
      <th>{{form.testsdonegenexpertfailedbuteligibleforrepeat | as_crispy_field}}</th>
    </tr>

    <tr>
      <th>{{form.testsdonegenexpertfailedbutnoteligibleforrepeat | as_crispy_field}}</th>
    </tr>

    <tr>
      <th>{{form.testsdonegenexpertrepeat | as_crispy_field}}</th>
    </tr>

    <tr>
      <th rowspan="4">Quant Studio3</th>
      <th>{{form.testsdonequantstudio3run | as_crispy_field}}</th>
    </tr>

    <tr>
      <th>{{form.testsdonequantstudio3failedbuteligibleforrepeat | as_crispy_field}}</th>
    </tr>

    <tr>
      <th>{{form.testsdonequantstudio3failedbutnoteligibleforrepeat | as_crispy_field}}</th>
    </tr>

    <tr>
      <th>{{form.testsdonequantstudio3repeat | as_crispy_field}}</th>
    </tr>

    <tr>
      <th rowspan="4">Hologic Panther</th>
      <th>{{form.testsdonehologicpantherrun | as_crispy_field}}</th>
    </tr>

    <tr>
      <th>{{form.testsdonehologicpantherfailedbuteligibleforrepeat | as_crispy_field}}</th>
    </tr>

    <tr>
      <th>{{form.testsdonehologicpantherfailedbutnoteligibleforrepeat | as_crispy_field}}</th>
    </tr>

    <tr>
      <th>{{form.testsdonehologicpantherrepeat | as_crispy_field}}</th>
    </tr>

    <tr>
      <th rowspan="4">RDT (Antibody)</th>
      <th>{{form.testsdonerdtantibodyrun | as_crispy_field}}</th>
    </tr>

    <tr>
      <th>{{form.testsdonerdtantibodyfailedbuteligibleforrepeat | as_crispy_field}}</th>
    </tr>

    <tr>
      <th>{{form.testsdonerdtantibodyfailedbutnoteligibleforrepeat | as_crispy_field}}</th>
    </tr>

    <tr>
      <th>{{form.testsdonerdtantibodyrepeat | as_crispy_field}}</th>
    </tr>

    <tr>
      <th rowspan="4">RDT (Antigen)</th>
      <th>{{form.testsdonerdtantigenrun | as_crispy_field}}</th>
    </tr>

    <tr>
      <th>{{form.testsdonerdtantigenfailedbuteligibleforrepeat | as_crispy_field}}</th>
    </tr>

    <tr>
      <th>{{form.testsdonerdtantigenfailedbutnoteligibleforrepeat | as_crispy_field}}</th>
    </tr>

    <tr>
      <th>{{form.testsdonerdtantigenrepeat | as_crispy_field}}</th>
    </tr>

    <tr>
      <th rowspan="3">Total Tests Done</th>
      <th colspan="2">{{form.totaltestsdone | as_crispy_field}}</th>
    </tr>

    <tr>
      <th colspan="2">{{form.totaltestsdonetotalrepeats | as_crispy_field}}</th>
    </tr>

    <tr>
      <th colspan="2">{{form.totaltestsdonetotalpatientsrun | as_crispy_field}}</th>
    </tr>

    <tr>
      <th rowspan="7">Error Rates</th>
      <th colspan="2">{{form.errorratesabbott | as_crispy_field}}</th>
    </tr>

    <tr>
      <th colspan="2">{{form.errorratesbmx | as_crispy_field}}</th>
    </tr>

    <tr>
      <th colspan="2">{{form.errorratesgenexpert | as_crispy_field}}</th>
    </tr>

    <tr>
      <th colspan="2">{{form.errorratesquantstudio3 | as_crispy_field}}</th>
    </tr>

    <tr>
      <th colspan="2">{{form.errorrateshologicpanther | as_crispy_field}}</th>
    </tr>

    <tr>
      <th colspan="2">{{form.errorratesrdtantibody | as_crispy_field}}</th>
    </tr>

    <tr>
      <th colspan="2">{{form.errorratesrdtantigen | as_crispy_field}}</th>
    </tr>

</table>
<br><br>
<input  type="submit" class="button5" >
<a  href="#" class="button5" >Next</a>
</form>
</body>

{% endblock %}