{% extends 'base.html' %}
 {% load humanize %}
 {% load crispy_forms_tags %}
{% block title %} Specimens Run | Meal {% endblock title %}

<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
  <title>Specimens Run</title>
  <link href="bitnami.css" media="all" rel="Stylesheet" type="text/css" /> 
  <link href="/dashboard/stylesheets/all.css" rel="stylesheet" type="text/css" />
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
  <link rel="stylesheet" href="../stylesheet/custom.css">
</head>

{% block content %}

<body>
  
  {% include "header4.html"%}

  <p></p>
  <br>
  <p></p>

<form action="" method="post" onsubmit="return alert('suck seed')" >
   {% csrf_token %}

	<h1 align="center">Specimens Run</h1>
	<label> Please choose a date: </label>
<select id="">
  <option value="Monday">Monday</option>
  <option value="Tuesday">Tuesday</option>
  <option value="Wednesday">Wednesday</option>
  <option value="Thursday">Thursday</option>
  <option value="Friday">Friday</option>
  <option value="Saturday">Saturday</option>
  <option value="Sunday">Sunday</option>
  <option value="Sunday">Total</option>
</select>
<p></p>
<p></p>
<br><br>

	<table class="table table-striped table-dark table-sm">

    <tr>
      <th rowspan="29">Tests Done</th>
    </tr>

    <tr>
      <th rowspan="4">Abbott</th>
      <th>{{form.tests_done_abbott_run | as_crispy_field}}</th>
    </tr>

    <tr>
      <th>{{form.tests_done_abbott_failed_but_eligibale_for_repeat | as_crispy_field}}</th>
    </tr>

    <tr>
      <th>{{form.tests_done_abbott_failed_but_not_eligibale_for_repeat | as_crispy_field}}</th>
    </tr>

    <tr>
      <th>{{form.tests_done_abbott_repeat | as_crispy_field}}</th>
    </tr>

    <tr>
      <th rowspan="4">BMX</th>
      <th>{{form.tests_done_bmx_run | as_crispy_field}}</th>
    </tr>

    <tr>
      <th>{{form.tests_done_bmx_failed_but_eligibale_for_repeat | as_crispy_field}}</th>
    </tr>

    <tr>
      <th>{{form.tests_done_bmx_failed_but_not_eligibale_for_repeat | as_crispy_field}}</th>
    </tr>

    <tr>
      <th>{{form.tests_done_bmx_repeat | as_crispy_field}}</th>
    </tr>

    <tr>
      <th rowspan="4">GeneXpert</th>
      <th>{{form.tests_done_genexpert_run | as_crispy_field}}</th>
    </tr>

    <tr>
      <th>{{form.tests_done_genexpert_failed_but_eligibale_for_repeat | as_crispy_field}}</th>
    </tr>

    <tr>
      <th>{{form.tests_done_genexpert_failed_but_not_eligibale_for_repeat | as_crispy_field}}</th>
    </tr>

    <tr>
      <th>{{form.tests_done_genexpert_repeat | as_crispy_field}}</th>
    </tr>

    <tr>
      <th rowspan="4">Quant Studio3</th>
      <th>{{form.tests_done_quant_studio_3_run | as_crispy_field}}</th>
    </tr>

    <tr>
      <th>{{form.tests_done_quant_studio_3_failed_but_eligibale_for_repeat | as_crispy_field}}</th>
    </tr>

    <tr>
      <th>{{form.tests_done_quant_studio_3_failed_but_not_eligibale_for_repeat | as_crispy_field}}</th>
    </tr>

    <tr>
      <th>{{form.tests_done_quant_studio_3_repeat | as_crispy_field}}</th>
    </tr>

    <tr>
      <th rowspan="4">Hologic Panther</th>
      <th>{{form.tests_done_hologic_panther_run | as_crispy_field}}</th>
    </tr>

    <tr>
      <th>{{form.tests_done_hologic_panther_failed_but_eligibale_for_repeat | as_crispy_field}}</th>

    </tr>

    <tr>
      <th>{{form.tests_done_hologic_panther_failed_but_not_eligibale_for_repeat | as_crispy_field}}</th>
    </tr>

    <tr>
      <th>{{form.tests_done_hologic_panther_repeat | as_crispy_field}}</th>
    </tr>

    <tr>
      <th rowspan="4">RDT (Antibody)</th>
      <th>{{form.tests_done_rdt_ab_run | as_crispy_field}}</th>
    </tr>

    <tr>
      <th>{{form.tests_done_rdt_ab_failed_but_eligibale_for_repeat | as_crispy_field}}</th>
    </tr>

    <tr>
      <th>{{form.tests_done_rdt_ab_failed_but_not_eligibale_for_repeat | as_crispy_field}}</th>
    </tr>

    <tr>
      <th>{{form.tests_done_rdt_ab_repeat | as_crispy_field}}</th>
    </tr>

    <tr>

      <th rowspan="4">RDT (Antigen)</th>
      <th>{{form.tests_done_rdt_ag_run | as_crispy_field}}</th>
    </tr>

    <tr>
      <th>{{form.tests_done_rdt_ag_failed_but_eligibale_for_repeat | as_crispy_field}}</th>
    </tr>

    <tr>
      <th>{{form.tests_done_rdt_ag_failed_but_not_eligibale_for_repeat | as_crispy_field}}</th>
    </tr>

    <tr>
      <th>{{form.tests_done_rdt_ag_repeat | as_crispy_field}}</th>
    </tr>
    
    <tr>
      <th rowspan="3" colspan="2">Total Tests Done</th>
      <th>{{form.total_tests_done | as_crispy_field}}</th>
    </tr>

    <tr>
      <th>{{form.total_repeats | as_crispy_field}}</th>
    </tr>

    <tr>
      <th>{{form.total_patients_run | as_crispy_field}}</th>
    </tr>
    
    <tr>
      <th rowspan="7" colspan="2">Error Rates</th>
      <th>{{form.error_rates_abbott | as_crispy_field}}</th>
    </tr>

    <tr>
      <th>{{form.error_rates_bmx | as_crispy_field}}</th>
    </tr>

    <tr>
      <th>{{form.error_rates_genexpert | as_crispy_field}}</th>
    </tr>

    <tr>
      <th>{{form.error_rates_quant_studio_3 | as_crispy_field}}</th>
    </tr>

    <tr>
      <th>{{form.error_rates_hologic_panther | as_crispy_field}}</th>
    </tr>

    <tr>
      <th>{{form.error_rates_rdt_ab | as_crispy_field}}</th>
    </tr>

    <tr>
      <th>{{form.error_rates_rdt_ag | as_crispy_field}}</th>
    </tr>

</table>
<input  type="submit" class="button5" >
<a  href="#" class="button5" >Next</a>
</form>
<br><br>
</body>
{% endblock%}