{% extends 'base.html' %}
 {% load humanize %}
 {% load crispy_forms_tags %}
{% block title %} Specimens Received | Meal {% endblock title %}

<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
  <title>Specimens Received</title>
  <link href="bitnami.css" media="all" rel="Stylesheet" type="text/css" />
  <link href="/dashboard/stylesheets/all.css" rel="stylesheet" type="text/css" />
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
  <link rel="stylesheet" href="../stylesheet/custom.css">
</head>

{% block content %}

<body>
  {% include "header4.html"%}

  <p></p>
  <br>
  <p></p>

<form action="" method="post" >
   {% csrf_token %}

	<h1 align="center">Specimens Received</h1>
	<th>{{form.dayofweek | as_crispy_field}}</th>

<p></p>
<p></p>
<br><br>

	<table class="table table-striped table-dark table-sm">

    <tr>
      <th colspan="2">{{form.samplescarriedoverpreviousweeks | as_crispy_field}}</th>
    </tr>

    <tr>
      <th rowspan="7">Samples Received (Current Week)</th>
      <th>{{form.samplesreceivedcurrentweeknasopharyngealswab | as_crispy_field}}</th>
    </tr>

    <tr>
      <th>{{form.samplesreceivedcurrentweeknasalswab | as_crispy_field}}</th>
    </tr>

    <tr>
      <th>{{form.samplesreceivedcurrentweekoropharyngealswab | as_crispy_field}}</th>
    </tr>

    <tr>
      <th>{{form.samplesreceivedcurrentweekmidturbinateswab | as_crispy_field}}</th>
    </tr>

    <tr>
      <th>{{form.samplesreceivedcurrentweeksputum | as_crispy_field}}</th>
    </tr>

    <tr>
      <th>{{form.samplesreceivedcurrentweekwholebloodorplasmaorserum | as_crispy_field}}</th>
    </tr>

    <tr>
      <th>{{form.samplesreceivedcurrentweekother | as_crispy_field}}</th>
    </tr>

    <tr>
      <th colspan="2">{{form.samplesrejectedcurrentweek | as_crispy_field}}</th>
    </tr>

    <tr>
      <th colspan="2">{{form.totalsamplesreceivedcurrentweek | as_crispy_field}}</th>
    </tr>

    <tr>
      <th colspan="2">{{form.numberofsamplesenteredintolims | as_crispy_field}}</th>
    </tr>

    <tr>
      <th colspan="2">{{form.totalsamplescurrentpluscarryover | as_crispy_field}}</th>
    </tr>

    <tr>
      <th colspan="2">{{form.samplesreferred | as_crispy_field}}</th>
    </tr>

    <tr>
      <th colspan="2">{{form.samplesReferredtoName | as_crispy_field}}</th>
    </tr>

    <tr>
      <th colspan="2">{{form.rejectionratecurrentweek | as_crispy_field}}</th>
    </tr>

    <tr>
      <th colspan="2">{{form.numberofresultsprintedlims | as_crispy_field}}</th>
    </tr>

    <tr>
      <th colspan="2">{{form.totalresultsdispatchedbylab | as_crispy_field}}</th>
    </tr>

    <tr>
      <th colspan="2">{{form.comment | as_crispy_field}}</th>
    </tr>
</table>
<input  type="submit" class="button5" >

<a  href="{% url 'labcov19machine' %}" class="button5" >Next</a>
</form>
<br><br>
</body>
{% endblock %}