{% extends 'base.html' %}
 {% load humanize %}
{% block title %} Initial Entries | Meal {% endblock title %}

<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
  <title>Home page</title>
  <link href="bitnami.css" media="all" rel="Stylesheet" type="text/css" /> 
  <link href="/dashboard/stylesheets/all.css" rel="stylesheet" type="text/css" />
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
  <link rel="stylesheet" href="../stylesheet/custom.css">
</head>

{% block content %}

<body>
  
  {% include "header4.html"%}

  <p></p>
  <br>
  <p></p>


	<h1 align="center">Initials</h1>
  
<p></p>
<br><br>

<form action="" method="post" onsubmit="return alert('suck seed')" >
	 {% csrf_token %}
<table class="table table-striped table-dark table-sm">
  <tr>
    <td><b>Reporting Week:</b></td>
    <td><input type="text" name=""></td>
  </tr>
  <tr>
    <td><b>Month:</b></td>
    <td><input type="text" name=""></td>
  </tr>
  <tr>
    <td><b>Laboratory:</b></td>
    <td><input type="text" name=""></td>
  </tr>
  <tr>
    <td><b>Compiled By:</b></td>
    <td><input type="text" name=""></td>
  </tr>
</table>




  <p></p>
<br><br>
<br>

<table class="table table-striped table-dark table-sm">
  <tr>
    <td colspan="6"><b>Age/Sex Dissagregations of All Specimens Received</b></td>
  </tr>
  <tr>
    <th>Machine</th>
    <th># of Machine Breakdowns</th>
    <th>Reasons</th>
    <th>Machine Downtime (days)</th>
    <th>Reasons</th>
    <th>Stockout (days)</th>
    <th>Reasons</th>
  </tr>
  <tr>
    <td>genexpert</td>
    <td><input type="" name=""></td>
    <td><input type="" name=""></td>
    <td><input type="" name=""></td>
    <td><input type="" name=""></td>
    <td><input type="" name=""></td>
    <td><input type="" name=""></td>
  </tr>
  <tr>
    <td>Abbott</td>
    <td><input type="" name=""></td>
    <td><input type="" name=""></td>
    <td><input type="" name=""></td>
    <td><input type="" name=""></td>
    <td><input type="" name=""></td>
    <td><input type="" name=""></td>
  </tr>
  <tr>
    <td>GeneXpert</td>
    <td><input type="" name=""></td>
    <td><input type="" name=""></td>
    <td><input type="" name=""></td>
    <td><input type="" name=""></td>
    <td><input type="" name=""></td>
    <td><input type="" name=""></td>
  </tr>
  <tr>
    <td>BMX</td>
    <td><input type="" name=""></td>
    <td><input type="" name=""></td>
    <td><input type="" name=""></td>
    <td><input type="" name=""></td>
    <td><input type="" name=""></td>
    <td><input type="" name=""></td>
  </tr>
</table>


  <p></p>
<br><br>
<br>

<table class="table table-striped table-dark table-sm">
  <tr>
    <th></th>
    <th># of days</th>
  <tr>
    <th>TAT1: Pre-Analytical TAT</th>
    <td><input type="" name=""></td>
  </tr>
  <tr>
    <th>TAT2: Intra-lab TAT</th>
    <td><input type="" name=""></td>
  </tr>
  <tr>
    <th>TAT3: POST Analytical TAT</th>
    <td><input type="" name=""></td>
  </tr>
  <tr>
    <th>Total Lab TAT</th>
    <td><input type="" name=""></td>
  </tr>
  <tr>
    <th># of completed transmittal sheets received</th>
    <td><input type="" name=""></td>
  </tr>
</table>


  <p></p>
<br><br>
<br>
</table>



<br><br>

<div style="display: none;">

{{form.reportingweek}}
{{form.dateofrecord}}
{{form.user}}
{{form.lab}}


</div>

<input  type="submit" class="button5" >
<a  href="#" class="button5" >Next</a>
</form>

</body>

{%block js%}

<script>


$(':input[name$=reportingweek]').val('1');

$(':input[name$=user]').val('totalruns');
$(':input[name$=lab]').val('totalruns');

</script>

{%endblock js%}

{% endblock %}
